[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/vim-airline-themes"]
	path = .vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/pack/plugins/start/deoplete.nvim"]
	path = .vim/pack/plugins/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule ".vim/pack/plugins/start/vim-hug-neovim-rpc"]
	path = .vim/pack/plugins/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule ".vim/pack/plugins/start/nvim-yarp"]
	path = .vim/pack/plugins/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule ".vim/pack/plugins/start/neco-vim"]
	path = .vim/pack/plugins/start/neco-vim
	url = https://github.com/Shougo/neco-vim.git
[submodule ".config/nvim/pack/plugins/start/vim-airline"]
	path = .config/nvim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".config/nvim/pack/plugins/start/vim-airline-themes"]
	path = .config/nvim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".config/nvim/pack/plugins/start/coc.nvim"]
	path = .config/nvim/pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
